*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Aktiv Grotesk", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  background-color: #101214;
  color: rgba(255, 255, 255, 0.86);
  -webkit-font-smoothing: antialiased;
  text-rendering: geometricPrecision;
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

th,
td {
  padding-left: 14px;
  padding-right: 14px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.12);
}

th {
  font-weight: 400;
  font-size: 18px;
  height: 36px;
  color: rgba(255, 255, 255, 0.5);
  padding-left: 14px;
  padding-right: 14px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.12);
  padding-top: 4px;
  white-space: nowrap;
}

th.string {
  text-overflow: ellipsis;
  overflow: hidden;
}

td {
  height: 56px;
  font-size: 24px;
  padding-top: 11px;
}

tr:last-of-type td {
  border-bottom: none;
}

.number {
  width: 1px;
  white-space: nowrap;
}

.date {
  width: 1px;
  white-space: nowrap;
}

td.number {
  text-align: right;
}

th.number {
  text-align: right;
}

td.string {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 1px;
}
