*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "aktiv-grotesk", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  background-color: #101214;
  color: rgba(255, 255, 255, 0.86);
  -webkit-font-smoothing: antialiased;
  text-rendering: geometricPrecision;
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

th,
td {
  padding-left: 14px;
  padding-right: 14px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.12);
}

th {
  font-weight: 400;
  font-size: 18px;
  height: 36px;
  color: rgba(255, 255, 255, 0.5);
  padding-left: 14px;
  padding-right: 14px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.12);
  white-space: nowrap;
  cursor: pointer;
}

td {
  height: 56px;
  font-size: 24px;
}

tr:last-of-type td {
  border-bottom: none;
}

.number {
  width: 1px;
  white-space: nowrap;
}

.date {
  width: 1px;
  white-space: nowrap;
}

td.number {
  text-align: right;
}

th.number {
  text-align: right;
}

td.string {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 1px;
}

.heading-text {
  position: relative;
}

.heading-text:before {
  content: url("images/sort.svg");
  display: block;
  position: absolute;
  top: 5px;
  font-size: 14px;
  opacity: 0;
  color: white;
  transition: opacity 0.1s ease;
  cursor: pointer;
}

.heading-text.sorted:before {
  opacity: 0.1;
}

th.date .heading-text:before,
th.string .heading-text:before {
  right: -14px;
}

th.number .heading-text:before {
  left: -14px;
}

.ascending > .sorted.heading-text:before {
  content: url("images/sort-up.svg");
  margin-top: -4px;
}

.descending > .sorted.heading-text:before {
  content: url("images/sort-down.svg");
  margin-top: -2px;
}

.widget:hover .heading-text.sorted:before {
  opacity: 0.4;
}

.widget:hover th:hover .heading-text:before {
  opacity: 0.7;
}

th:hover {
  color: rgba(255, 255, 255, 0.7);
}

/*Loader*/
.spinner {
  text-align: center;
  margin-top: 160px;
}

.spinner-container {
  width: 60px;
  margin: 0 auto;
}

.spinner-container > div {
  background-color: white;
  opacity: 0.5;
  height: 2px;
  width: 100%;
  margin-bottom: 6px;
  transform-origin: left;

  animation: sk-stretchdelay 1.5s infinite linear;
}

.spinner .rect2 {
  animation-delay: -1.1s;
}

.spinner .rect3 {
  animation-delay: -0.9s;
}

.spinner .rect4 {
  animation-delay: -1.1s;
}

@keyframes sk-stretchdelay {
  0%,
  100% {
    transform: scaleX(0.3);
  }

  50% {
    transform: scaleX(1);
  }
}

@keyframes placeHolderShimmer{
  0%{
      background-position: -468px 0
  }
  100%{
      background-position: 468px 0
  }
}

td {
  position: relative;
}

.cell-loading-state {
  animation-duration: 1.3s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: rgb(42, 42, 42);
  background: linear-gradient(to right, rgb(50, 50, 50) 8%, rgb(60, 60, 60) 18%, rgb(50, 50, 50) 32%);
  background-size: 800px 104px;
  position: absolute;
  top: 12px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  border-radius: 100px;
}
